html,
 body{
    height : 100%;
    background-image : url("https://img.freepik.com/premium-vector/mountain-landscape-with-pine-forest-starry-night-sky_105940-417.jpg?w=740");
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar{
    display: none;
}

.global-container{
    height: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

.login-form{
    width: 380px;
    height: 390px;
    padding: 20px;
    background-color: #D2E0FB !important;
    border-radius: 10px !important;
    font-family: 'Times New Roman', Times, serif;
}

input[type="username"],
input[type="password"]{
    background-color: white !important;
    color: black;
    border:2px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

input[type="username"],
input[type="password"] {
    outline: black;
    border: black;
    background: black;
    color: black;
    margin: 0;
}

.card-title{
    font-weight: 500;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.btn{
    background: blue !important;
    color: white !important;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;
    margin-top: 0px;
}