html,
 body{
    height : 100%;
    background-image : url("https://img.freepik.com/premium-vector/mountain-landscape-with-pine-forest-starry-night-sky_105940-417.jpg?w=740");
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position-y: bottom;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body::-webkit-scrollbar{
    display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.global-container{
    height: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
    font-family: 'Times New Roman', Times, serif;
}

.py-2{
    font-family: 'Times New Roman', Times, serif;
}

.card{
    background-color: #D2E0FB !important;
    border-radius: 10px;
    
}