html,
 body{
    height : 100%;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    
}

.global-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0a0a0a;
}

input[type="username"],
input[type="password"],
input[type="alamat"],
input[type="notelepon"]{
    background-color: white !important;
    color: black;
    border:2px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
}

input[type="username"]:focus,
input[type="password"]:focus,
input[type="alamat"]:focus,
input[type="notelepon"]:focus{
    outline: black;
    border: black;
    background: black;
    color: black;
    margin: 0;
}

.form-control{
    font-size: 0.8rem;
    padding: 0.3rem 6rem;
}

.btn{
    background: blue !important;
    color: white !important;
    transform: translateY(10px);
    font-size: 14px;
    border-radius: 10px !important;
}